/* Main Layout Using Grid */
main {
  height: 100vh;
  display: grid;
  place-content: center;
}
.box {
  height: 200px;
  width: 300px;
  border-radius: 5px;
  padding: .5rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40% 45% 15%;

  box-shadow: 0 5px 5px grey;
}

/* Step Design Part 1 */
.steps {
  display: flex;
  justify-content: space-evenly;
}
p {
  padding: 1rem;
  border: 1px solid black;
  border-radius: 8px;
}
.active {
  background-color: black;
  color: white;
}
.content {
  padding: 1rem 1rem 0 1rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Content Design Part 2 */
label {
  padding-bottom: 1rem;
}

/* Button Designs Part 3 */
.buttons {
  display: flex;
  justify-content: space-around;
}
button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
}
.noDisplay {
  display: none;
}
